<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
&nbsp;&nbsp;&nbsp;&nbsp;

<a href="https://www.linkedin.com/in/ysfasln" itemprop="sameAs"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>LinkedIn</a>
<a href="https://github.com/aslnysf" itemprop="sameAs"><i class="fa fa-fw fa-github" aria-hidden="true"></i>Github</a>
<a href="mailto:yusufaslan093@gmail.com" itemprop="sameAs"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i>Email</a>
</div>
